@model DemoCore_MVC.Models.Employee
@{
	TempData["title"] = "Update Page";
}
<h1>Update Page</h1>
<!--Cach cua .net core-->
<form asp-action="Update">
	<div class="container">
		<div class="mb-3 mt-3">
			<input type="text" asp-for="Emp_id" hidden />
		</div>
		<div class="mb-3 mt-3">
			<label>Employee Name:</label>
			<input type="text" asp-for="Emp_name" />
			<span asp-validation-for="Emp_name" class="text-danger"></span>
		</div>

		<div class="mb-3 mt-3">
			<label>Phone:</label>
			<input type="text" asp-for="Phone" />
			<span asp-validation-for="Phone" class="text-danger"></span>
		</div>

		<div class="mb-3 mt-3">
			<label>Skills:</label>
			<input type="text" asp-for="Skills" />
			<span asp-validation-for="Phone" class="text-danger"></span>
		</div>

		<div class="mb-3 mt-3">
			<label>Experencies:</label>
			<input type="number" asp-for="Experiences" />
			<span asp-validation-for="Experiences" class="text-danger"></span>
		</div>
		<div>
			<input type="submit" value="Update"/>
		</div>
	</div>
</form>